
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Convert Address to GPS Coordinates (Latitude,Longitude)  </h1>
        </div>
    </div>
    <!-- /.row -->
<hr>
    <div class="row">
        <div class="col-lg-12">

          <%= form_tag("/tools/address2gps", method: "post") do %>
          <%= label_tag(:address, "Address: ") %><br>
          <%= text_field_tag(:address,nil, size: 50, maxlength: 50) %><br><br>
          <%= submit_tag("Convert Address to GPS Coordinates") %>

            <%end%>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; SECURELI.com 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

  </div>
