
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Get Business Details from Google Place_ID</h1>
        </div>
    </div>
    <!-- /.row -->
<hr>
    <div class="row">
        <div class="col-lg-12">

          <%= form_tag("/tools/placedetails", method: "post") do %>
          <%= label_tag(:place_id, "Google Place_ID: ") %><br>
          <%= text_field_tag(:place_id,nil, size: 50, maxlength: 50) %><br><br>
          <%= submit_tag("Get Business Details") %>
          <%end%>

        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; SECURELI.com 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

  </div>
