
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Skipfish Website Security Scanner</h1>
        </div>
    </div>
    <!-- /.row -->
<hr>
    <div class="row">
        <div class="col-lg-12">

          <%= form_tag("/tools/skipfish", method: "post") do %>
          <%= label_tag(:target_url, "Target URL: ") %><br>
          <%= text_field_tag(:target_url,nil, size: 50, maxlength: 50) %><br><br>
          <%= submit_tag("Analyze Target Website with Skipfish") %>
          <%end%>

        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; SECURELI.com 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

  </div>
