
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">WhatWeb Website Fingerprinter</h1>
        </div>
    </div>
    <!-- /.row -->
<hr>


<div class="row">
<div class="col-lg-12">
 <%= form_tag("/tools/whatweb", method: "post", remote: true, id: 'what_web_form') do %>
   <%= label_tag(:target_url, "Target URL: ") %><br>
   <%= text_field_tag(:target_url,nil, size: 50, maxlength: 50) %><br><br>
   <%= submit_tag("Analyze Target Website with WhatWeb") %>
 <%end%>
 </div>
<div id="result"></div>
</div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; SECURELI.com 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

  </div>
