<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">platform.SECURELI.com</h1>
        </div>
    </div>
    <!-- /.row -->

<hr>



</div>
