<style type="text/css">
	.modal-body {
    max-height:calc(100vh - 150px);
    overflow-y:auto;
    overflow-x:auto;
	}
</style>

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  .modal-body {
    max-height:calc(100vh - 150px);
    overflow-y:auto;
    overflow-x:auto;
  }
</style>

<div class="panel panel-danger">
  <div class="panel-heading" style="color: #fff; background-color: gray; border-bottom: 2px solid #000;"><b>WhatWeb Reports - Total <%= @whatwebs.count %></b></div>
  <%= render 'search_filters' %>
  <hr class="red-line">
  <div class="panel-body" style="padding: 10px;">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>URL</th>
          <th>View Scan</th>
          <th>Discovered</th>
          <th>Tag</th>
          <th>Campaign</th>
          <th>Created At</th>
          <th>Claim Lead</th>
        </tr>
      </thead>
      <tbody>
        <%@whatwebs.each_with_index do |whatweb, index|%>
          <tr>
            <td>
              <%if whatweb.url.present? %>
                <%= link_to whatweb.url, whatweb.url, target: "_blank" %>
              <%end%>
            </td>
            <p id="response<%=index%>" style="display: none;"><%= whatweb.response if whatweb.response.present? %></p>
            <td><a href="#" id="response" data-id="response<%=index%>" data-toggle="modal" data-target="#myModal">View Scan</a></td>
            <td>
              <%
                tags = []
                tags.push("WordPress") if whatweb.response.include? "WordPress"
                tags.push("Apache") if whatweb.response.include? "Apache"
                tags.push("Java") if whatweb.response.include? "Java"
                tags.push("WordPress") if whatweb.response.include? "WordPress"
                tags.push("Google-Analytics") if whatweb.response.include? "Google-Analytics"
                tags.push("Microsoft-IIS") if whatweb.response.include? "Microsoft-IIS"
                tags.push("ASP.NET") if whatweb.response.include? "ASP.NET"
                tags.push("PHP") if whatweb.response.include? "PHP"
                tags.push("nginx") if whatweb.response.include? "nginx"
                tags.push("x-wix") if whatweb.response.include? "x-wix"
              %>
            <%= tags %></td>
            <td><%= if whatweb.tag.present? then whatweb.tag else 'nil' end %></td>
            <td><%= if whatweb.campaign_id.present? then whatweb.campaign_id else 'nil' end %></td>
            <td><%= whatweb.created_at.strftime("%B %d, %Y | %H:%M:%S")%></td>
            <td><a href="#">Claim Lead</a></td>

          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @whatwebs %>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Website Fingerprint</h4>
      </div>
      <div class="modal-body" style="font-family: monospace; white-space: pre;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("a#response").click(function(e){
			$(".modal-body").html($("#"+$(this).attr("data-id")).html());
		});//view scan click
	});//end dom ready
</script>
