<div class="panel panel-danger">
	<div class="panel-heading" style="color: #fff; background-color: red; border-bottom: 2px solid #000;"><b>Semrush - <%= @semrush_report.count %></b></div>
	<%= render 'search_filters' %>
  <div class="panel-body">
		<table class="table table-condensed table-bordered">
	    <thead>
	      <tr>
					<th>Created</th>
	        <th>URL</th>
	        <th>Name</th>
	        <th>AdWords</th>
					<th>Phone</th>
					<th>Address</th>
					<th>Add Comment</th>
					<th>Archive</th>
	      </tr>
	    </thead>
	    <tbody>
	      <%@semrush_report.where('response NOT LIKE ?', "%ERROR%").each do |semrush|%>
	        <tr>
						<td>
							<%= semrush.created_at.strftime("%B %d, %Y | %H:%M:%S")%>
						</td>

	          <td>
		          <%if semrush.url.present? %>
		          	<%= link_to semrush.url, semrush.url, target: "_blank" %>
		          <%end%>
	          </td>
						<td>
							<%= print PlaceDetail.where(website: semrush.url).name rescue print "n/a" %>
						</td>
	          <td>
							<%= print "Active" if semrush.response.present? %>
						</td>
						<td>
							<%= print PlaceDetail.where(website: semrush.url).international_phone_number rescue print "n/a" %>
						</td>
						<td>
							<%= print PlaceDetail.where(website: semrush.url).formatted_address rescue print "n/a" %>
						</td>
						<td>
							Add Comment
						</td>
						<td>
							Archive
						</td>
	        </tr>
	      <%end%>
	    </tbody>
	  </table>
  </div>
</div>
@
