<style type="text/css">
	.modal-body {
    max-height:calc(100vh - 150px);
    overflow-y:auto;
    overflow-x:auto;
	}
</style>
<div class="panel panel-danger">
	<div class="panel-heading" style="color: #fff; background-color: gray; border-bottom: 2px solid #000;"><b>Wpscans - Total <%= @wpscans.count %></b></div>
	<%= render 'search_filters' %>
  <div class="panel-body" style="padding: 10px;">
		<table class="table table-condensed table-bordered">
	    <thead>
	      <tr>
	        <th>URL</th>
	        <th>Response</th>
	        <th>Phone</th>
	        <th>Vulnerability Count</th>
	        <th>Tag</th>
	        <th>Created At</th>
					<th>Claim Lead</th>
	      </tr>
	    </thead>
	    <tbody>
	      <%@wpscans.each_with_index do |wpscan, index|%>
	        <tr>
	          <td>
		          <%if wpscan.url.present? %>
		          	<%= link_to wpscan.url, wpscan.url, target: "_blank" %>
		          <%end%>
	          </td>
	          <p id="response<%=index%>" style="display: none;"><%= wpscan.response if wpscan.response.present? %></p>
	          <td><a href="#" id="response" data-id="response<%=index%>" data-toggle="modal" data-target="#myModal">View Scan</a></td>
	          <% place_detail = PlaceDetail.find_by_website(wpscan.url) %>
	          <td><%= if place_detail.present? then place_detail.international_phone_number else 'N/A' end %></td>
	          <td><%= wpscan.vulnerability_count %></td>
	          <td><%= wpscan.tag %></td>
	          <td><%= wpscan.created_at.strftime("%B %d, %Y | %H:%M:%S")%></td>
						<td>
							<% unless wpscan.claimed %>
								<a href="<%= set_claim_path(wpscan.id) %>">Claim Lead</a>
							<% else %>
								Already Claimed
							<% end %>
						</td>
	        </tr>
	      <%end%>
	    </tbody>
	  </table>
  </div>
  <div class="panel-footer"><%= paginate @wpscans %></div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Response View</h4>
      </div>
      <div class="modal-body" style="font-family: monospace; white-space: pre;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("a#response").click(function(e){
			$(".modal-body").html($("#"+$(this).attr("data-id")).html());
		});//view scan click
	});//end dom ready
</script>
