<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header" style="padding: 0px;">
        <%= search_form_for @search, url: @path, method: :get do |f|%>
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <%= f.label :url_cont, "domain"%>
                    <%= f.text_field :url, :class=> 'form-control'%>
                  </div>
                  <div class="col-md-3">
                    <%= f.label :tag_cont, "tag"%>
                    <%= f.text_field :tag, :class=> 'form-control'%>
                  </div>
                  <div class="col-md-3">
                    <%if controller.action_name == "wpscan_report"%>
                      <%= f.label :campaign_id_cont, "campaign_id"%>
                      <%= f.text_field :campaign_id, :class=> 'form-control'%>
                    <%else%>
                      <%= f.label :campaign_cont, "campaign"%>
                      <%= f.text_field :campaign, :class=> 'form-control'%>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <br/>
              <%= f.submit 'Generate Report',  :class=> 'btn btn-danger'%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
