
<style type="text/css">
	hr.design{
		border-top: 2px solid red;
	}
	.square {
		padding: 10px; color: #fff; background-color: #000; border-radius: 5px;
	}

</style>

<%
	require 'sidekiq/api'
	stats = Sidekiq::Stats.new
%>
<div class="panel panel-danger">
    <div class="row">
    	<div class="col-md-12">
	    	<div class="page-header" style="margin: 0px 0 0px;">
				  <h1>Platform Stats</h1>
				</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-2">
    		<div class="card square">
				  <div class="card-block">
				    <h3 class="card-title" style="border-bottom: 2px solid red;">Processed</h3>
				    <h2 class="card-text"><%= stats.processed %></h2>
				  </div>
				</div>
    	</div>

    	<div class="col-md-2">
    		<div class="card square">
				  <div class="card-block">
				    <h3 class="card-title" style="border-bottom: 2px solid red;">Enqueued</h3>
				    <h2 class="card-text"><%= stats.enqueued %></h2>
				  </div>
				</div>
			</div>
			<div class="col-md-2">
    		<div class="card square">
				  <div class="card-block">
				    <h3 class="card-title" style="border-bottom: 2px solid red;">Failed</h3>
				    <h2 class="card-text"><%= stats.failed %></h2>
				  </div>
				</div>
			</div>


			<div class="col-md-2">
    		<div class="card square">
				  <div class="card-block">
				    <h3 class="card-title" style="border-bottom: 2px solid red;">Active Workers</h3>
				    <% workers = Sidekiq::Workers.new %>
				    <h2 class="card-text"><%=  workers.size %></h2>
				  </div>
				</div>
			</div>

    </div>
    <hr class="red-line"><br>
    <div class="row">
    	<div class="col-md-12">
	    	<div class="page-header" style="margin: 0px 0 20px;">
				  <h1>Reports Stats</h1>
				</div>
    	</div>
    </div>
    <div class="row">
      <div class="col-md-4">
    		<div class="card square">
				  <div class="card-block">
				    <h3 class="card-title" style="border-bottom: 2px solid red;">Fingerprint Reports</h3>
				    <h2 class="card-text"><%=  @whatwebs.count %></h2>
				  </div>
				</div>
			</div>

			<div class="col-md-4">
    		<div class="card square">
				  <div class="card-block">
				    <h3 class="card-title" style="border-bottom: 2px solid red;">WordPress Reports</h3>
				    <h2 class="card-text"><%=  @wpscans.count %></h2>
				  </div>
				</div>
			</div>
			<div class="col-md-4">
    		<div class="card square">
				  <div class="card-block">
				    <h3 class="card-title" style="border-bottom: 2px solid red;">Malware Reports</h3>
				    <h2 class="card-text"><%=  @gbusiness_malware.count %></h2>
				  </div>
				</div>
			</div>
    </div>

    <hr class="red-line"><br>
    <div class="row">
      <div class="col-md-12">
      	<%= line_chart @wpscans.group_by_day(:created_at, format: "%b %d, %Y").count, discrete: true, xtitle: "Days", ytitle: "Wordpress Scans" %>
      </div>
    </div>

    <hr class="red-line"><br>

    <div class="row">
      <div class="col-md-12">
      	<%= line_chart @whatwebs.group_by_day(:created_at, format: "%b %d, %Y").count, discrete: true, xtitle: "Days", ytitle: "Fingerprint Scans" %>
      </div>
    </div>
    <hr class="red-line"><br>

    <div class="row">
      <div class="col-md-12">
      	<%= line_chart @gbusiness_malware.group_by_day(:created_at, format: "%b %d, %Y").count, discrete: true, xtitle: "Days", ytitle: "Malware Scans" %>
      </div>
    </div>
    <hr class="red-line"><br>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= pie_chart @options %>
    </div>
  </div>

</div>
