<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <%= search_form_for @search, url: @path, method: :get do |f|%>
          <div class="row">

            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :url_cont, "Url"%>
                <%= f.text_field :url_cont, :class=> 'form-control'%>
              </div>
            </div>

            <div class="col-md-2">
              <br/>
              <%= f.submit 'Search',  :class=> 'btn btn-primary pull-right'%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
