<p id="notice"><%= notice %></p>

<style type="text/css">
  .modal-body {
    max-height:calc(100vh - 150px);
    overflow-y:auto;
    overflow-x:auto;
  }
</style>
<div class="panel panel-warning">
  <div class="panel-heading">Leads - Total <%= @leads.count %><%= link_to 'New Lead', new_lead_path, class: "pull-right"%></div>
  <%= render 'search_filters' %>
  <div class="panel-body">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Url</th>
          <th>Formatted address</th>
          <th>Phone number</th>
          <th>Issues</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @leads.each_with_index do |lead, index| %>
          <tr style="display: none;">
            <td>
              <div id="lead-comments<%=index%>"> 
                <table class="table table-condensed table-stripped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% lead.comments.each_with_index do |lead_comment, i| %>
                      <tr>
                        <td><%= i %></td>
                        <td>
                          <%= lead_comment.comment_body %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%if lead.url.present? %>
                <%= link_to lead.url, lead.url, target: "_blank" %>
              <%end%>
            </td>
            <td><%= lead.formatted_address %></td>
            <td><%= lead.phone_number %></td>
            <td><%= lead.vulnerability_count %></td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" id="comments" data-id="lead-comments<%=index%>" data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-info <%=lead.comments.count == 0 ? 'disabled': '' %>">View <%= pluralize(lead.comments.count, "Comment")%></button>
                <button type="button" id="add-lead-comments" data-leadid= "<%=lead.id%>" data-toggle="modal" data-target="#add-comment-modal" class="btn btn-sm btn-success">Add Comments</button>
              </div>
              <div class="btn-group" role="group">
                <%= link_to 'Edit', edit_lead_path(lead), class: "btn btn-sm btn-warning"%>
                <%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer"><%= paginate @leads %></div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lead Comments</h4>
      </div>
      <div class="modal-body" id="view-comments" style="font-family: monospace; white-space: pre;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-comment-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Comment</h4>
      </div>
      <div class="modal-body" style="font-family: monospace; white-space: pre;">
        <%= form_tag(add_comment_path, :method => "POST", :class => "form-inline") do |f| %>
          <div class="form-group">
            <%= label_tag :comment_body %>
            <%= text_field_tag :comment_body, nil, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Create", :class => "btn btn-success"%>
          </div>
          <%= hidden_field_tag 'lead_id', :value => "" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("button#comments").click(function(e){
      $("#view-comments").html($("#"+$(this).attr("data-id")).html());
    });

    $("button#add-lead-comments").click(function(e){
      $("#lead_id").attr("value", $(this).attr("data-leadid"));    
    });
  });//end dom ready
</script>
