<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <%= search_form_for @search, url: place_details_path, method: :get do |f|%>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :place_place_id_cont, "Place #"%>
                <%= f.text_field :place_place_id_cont,:class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :name_cont, "Name"%>
                <%= f.text_field :name_cont, :class=> 'form-control'%>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :website_cont, "Website"%>
                <%= f.text_field :website_cont, :class=> 'form-control'%>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :url_cont, "Url"%>
                <%= f.text_field :url_cont, :class=> 'form-control'%>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :place_keyword_key_cont, "Keyword"%>
                <%= f.text_field :place_keyword_key_cont, :class=> 'form-control'%>
              </div>
            </div>
            <div class="col-md-2">
              <br/>
              <%= f.submit 'Search',  :class=> 'btn btn-primary pull-right'%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>