<div class="jumbotron">
  <%= render 'search_filters' %>
  <p>Business Details</p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <td>Place id</td>
        <td>Name</td>
        <td>Url</td>
        <td>Website</td>
        <td>Vicinity</td>
      </tr>
    </thead>
    <tbody>
      <%@place_details.each do |place_detail|%>
        <tr>
          <td><%= place_detail.place_id %></td>
          <td><%= place_detail.name %></td>
          <td><%= place_detail.url %></td>
          <td><%= place_detail.website %></td>
          <td><%= place_detail.vicinity %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<%= paginate @place_details %>