<div class="authform" width=700px style="max-width: 700px;">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
<div><center><img src="/logo.jpg"></center></div><br><br>
    <%= devise_error_messages! %>
<center>
    <table style="margin:20px"><tr><td>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div></td><td>

    <div class="form-group" style="padding-left:10px">
      <%- if devise_mapping.recoverable? %>

      <% end -%>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
</td></tr></table><%= f.submit ' Access SECURELI', :class => 'button' %>
</center>
<br><br>
<center><font size="-1">For assistance, please call us any time at <strong>+1 (800) 123-1234</strong> or e-mail <strong>support@secureli.com</strong></font>
</center>

  <% end %>
</div>
