<ul class="nav navbar-nav">

<% if user_signed_in? %>

<li>
  <a href="/wizard">Wizard</a>
</li>

<li class="dropdown">
  <a href="/tools" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  Tools  </a>
  <ul class="dropdown-menu">
        <li><a href="/tools/address2gps">Convert Address to GPS</a></li>
        <li><a href="/tools/placeids">Find Google Place IDs</a></li>
        <li><a href="/tools/placedetails">Get Business Details</a></li>
        <li class="divider"></li>
        <li><a href="/tools/whatweb">whatweb</a></li>
        <li><a href="/tools/wpscan">wpscan</a></li>
        <li><a href="/tools/joomscan">joomscan</a></li>
        <li><a href="/tools/skipfish">skipfish</a></li>
        <li><a href="/tools/w3af">w3af</a></li>
        <li><a href="/tools/wapiti">wapiti</a></li>
        <li><a href="/tools/arachni">arachni</a></li>
    </ul>
</li>

<li class="dropdown">
  <a href="/reports" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  Reports</a>
  <ul class="dropdown-menu">
        <li><a href="/reports/security">Security Scans</a></li>
        <li><a href="/reports/marketing">Marketing Assessments</a></li>
    </ul>

</li>


<li>
  <a href="http://crm.secureli.com">CRM</a>
</li>

<li>
  <a href="/settings">Settings</a>
</li>

<li>
  <a href="https://secureli.freshdesk.com/support/home" target="_new">Support</a>
</li>

  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Free Trial', new_user_registration_path %></li>
  <li>
    <a href="https://secureli.freshdesk.com/support/home" target="_new">Support</a>
  </li>
<% end %>
