<div class="panel panel-danger">
  <div class="panel-heading" style="color: #fff; background-color: red; border-bottom: 2px solid #000;"><b>WhatWeb Reports - Total <%= @whatwebs.count %></b></div>
  <%= render 'whatweb_search_filters' %>
  <hr class="red-line">
  <div class="panel-body" style="padding: 10px;">
    <%= link_to "Analyze Wpscans",step4_path,:class=>"btn btn-default pull-right" %>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>URL</th>
          <th>Response</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <%@whatwebs.each do |whatweb|%>
          <tr>
            <td>
              <%if whatweb.url.present? %>
                <%= link_to whatweb.url, whatweb.url, target: "_blank" %>
              <%end%>
            </td>
            <td><%= whatweb.response["result"] if whatweb.response.present? %></td>
            <td><%= whatweb.created_at.strftime("%B %d, %Y | %H:%M:%S")%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @whatwebs %>

<script>
  window.raw = "<%= @locations %>";
  console.log('before');
  if (first_time === true) {
    first_time = false;
    console.log(first_time);
    allocate_markers();
  }

</script>
