<div class="jumbotron">
  <div class="col-lg-12">

    <div class="row">
      <div class="col-md-6">
        <p>Gathering Business Information</p>
      </div>
      <div class="col-md-6"><%= link_to "Analyze Websites",step3_path,:class=>"btn btn-default pull-right" %></div>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <td><b>ID</b></td>
          <td><b>Time Discovered</b></td>
          <td><b>Name</b></td>
          <td><b>Phone</b></td>
          <td><b>Address</b></td>
          <td><b>Website</b></td>
        </tr>
      </thead>
      <tbody>
        <%@campaignplaces.find_each do |place|%>
          <tr>
            <td><%= place.id %></td>
            <td><%= place.created_at %></td>
            <td><%= place.name %></td>
            <td><%= place.international_phone_number%></td>
            <td><%= place.formatted_address%></td>
            <td><%= place.website%></td>
          </tr>
        <%end%>

      </tbody>
    </table>
  </div>
</div>
<%= paginate @campaignplaces %>
<script>
  window.raw = "<%= @locations %>";
  console.log('before');
  if (first_time === true) {
    first_time = false;
    console.log(first_time);
    allocate_markers();
  }

</script>
