<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header" style="padding: 10px;">
        <%= search_form_for @search, url: @path, method: :get do |f|%>
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <%= f.label :url_cont, "Url"%>
                    <%= f.text_field :url_cont, :class=> 'form-control'%>
                  </div>
                  
                  <div class="col-md-2">
                      <%= f.label :campaign_cont, "id"%>
                      <%= f.text_field :campaign_cont, :class=> 'form-control'%>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <br/>
              <%= f.submit 'Search',  :class=> 'btn btn-danger'%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
