
<!-- Page Content -->
<div class="container">


<br><br>


<form class="form-horizontal" method="post" action="/wizard/step2">
  <fieldset>
    <legend>Step <strong>1</strong> of <strong>3</strong>: Choose Location</legend>

<div style="min-width: 980px; width:1200px; height:200px; ">
  <img src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDhqoVWxBoD44DI01MnC5OcDQwuYYNVV1U&center=dallas,+tx&zoom=3&scale=2&size=640x300&maptype=hybrid&format=png&visual_refresh=true">
</div>

<center>
  <div style="padding:10px; background-color: white; overflow:auto; spacing:10px; align: center">
    <center><div class="form-group"><div style="text-align:center">
      <label for="campaignName" class="col-md-2 control-label"><font color="white">Campaign Name</font></label>

      <div class="col-md-6">
        <input class="form-control" name="campaignName" id="campaignName" placeholder="Campaign Name" type="text" required="true">
      </div></div>
    </div>

    <div class="form-group"><center>
      <label for="address" class="col-md-2 control-label"><font color="white">Search Location</font></label>

      <div class="col-md-6">
        <input class="form-control" name="address" id="address" placeholder="Full Address -or- City, State -or- ZIP Code" type="text" required="true">
      </div></center>
    </div></center>

<center>
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <button type="button" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary waves-effect waves-light">Create Campaign</button>

      </div>
    </div>
  </center>

  </div>
  </center>
  </fieldset>
</form>

<br><br><center>


</center><br><br>

    </div>
  </div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; SECURELI.com 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

  </div>
