<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<script  src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAP_KEY %>">
</script>
<hr/>
<div style="width: 100%; height:400px">
  <div id="map" style="width: 100%; height:400px">
    <div id="map-canvas"></div>
  </div>
</div>
<div id="live-step3">
<%#= render partial: 'live_step3' %>
</div>

<script>
  window.locations = [];
  var first_time = true;
  send_ajax_request();
  setInterval(function () {
    send_ajax_request();
  }, 10000);

  function send_ajax_request() {
    $.ajax({
      type: "GET",
      url: "/wizard/step3?page=<%= params[:page] %>",
      format: 'JS',
      cache: false
    });
  }


  function allocate_markers() {
    data = JSON.parse(window.raw);
    console.log('after');
    for (var x in data) {
      list = JSON.stringify({lat: data[x][0], lng: data[x][1]});
      window.locations.push(JSON.parse(list));
    }

    console.log('showing markers');
    showMarkers();
  }

  function initMap() {

    window.map = new google.maps.Map(document.getElementById('map'), {
      zoom: 3,
      center: {lat: 40.7128, lng: 74.0059}
    });
  }


  function showMarkers() {
    
    console.log('In markers method');
    // Create an array of alphabetical characters used to label the markers.
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

    // Add some markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to
    // create an array of markers based on a given "locations" array.
    // The map() method here has nothing to do with the Google Maps API.
    var markers = window.locations.map(function (location, i) {
      return new google.maps.Marker({
        position: location,
        label: labels[i % labels.length]
      });
    });

    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(window.map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    console.log('leaving markers method');
  }
  initMap();
</script>
