<div class="jumbotron">
  <%= render 'search_filters' %>
  <p>Security Reports</p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone Number</td>
        <td>Security Report</td>
        <td>Claim Lead</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Johns Security</td>
        <td>123 New York City, NY, 12342</td>
        <td>424-111-1234</td>
        <td><a href="/reports/view/:id" onclick="alert('View Single Report')">View Report</a></td>
        <td><a href="" onclick="alert("Send to SugarCRM")">Claim Lead</a></td>
      </tr>
    </tbody>
  </table>
</div>
