<div class="jumbotron">
  <%= render 'semrush_search_filters' %>
  <p>Semrush Reports</p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <td>URL</td>
        <td>Response</td>
      </tr>
    </thead>
    <tbody>
      <%@semrush_paid_reports.each do |semrush_paid_report|%>
        <tr>
          <td><%= semrush_paid_report.url %></td>
          <td><%= semrush_paid_report.response %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<%= paginate @semrush_paid_reports %>
