<ul class="right nav navbar-nav" style="font-family: 'Catamaran', sans-serif;  font-size: 16px;">

<% if user_signed_in? %>

<li>
  <a href="/">Dashboard</a>
</li>

<li>
  <a href="/wizard">Scan</a>
</li>

<li>
  <a href="/leads">Leads</a>
</li>

<li class="dropdown">
  <a href="/tools" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  Tools  </a>
  <ul class="dropdown-menu">
        <li><a href="/tools/whatweb">whatweb</a></li>
        <li><a href="/tools/wpscan">wpscan</a></li>
        <li><a href="/tools/joomscan">joomscan</a></li>
        <li><a href="/tools/skipfish">skipfish</a></li>
        <li><a href="/tools/w3af">w3af</a></li>
        <li><a href="/tools/wapiti">wapiti</a></li>
        <li><a href="/tools/arachni">arachni</a></li>
    </ul>
</li>

<li class="dropdown">
  <a href="/reports" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  Reports</a>
  <ul class="dropdown-menu">
    <li><a href="/reports/whatweb">Fingerprinting Reports</a></li>
    <li><a href="/reports/wpscan">WordPress Reports</a></li>
    <li><a href="<%= google_malware_report_path %>">Malware Reports</a></li>
    <li><a href="<%= web_semrush_report_path %>">Search Engine Marketing Analysis</a></li>
  </ul>

</li>


<li>
  <a href="https://secureli.freshdesk.com/support/home" target="_new">Support</a>
</li>

  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><a href="/users/sign_in">Login</a></li>
  <li><a href="/users/sign_up">Register to Apply</a></li>
  <li>
    <a href="https://secureli.freshdesk.com/support/home" target="_new">24/7/365 Client Support</a>
  </li>
<% end %>
