<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <img src="/logo-mini.jpg" style="float:left; v-align: center; padding-right:25px; padding-top:8px;">

        <%= render 'layouts/nav_links_for_auth' %>
        <%= render 'layouts/navigation_links' %>

<div>
    </div>
  </div>
</nav>
